:root {
  --primary-color: #A0C4FF;
  --secondary-color: #BDB2FF;
  --backup-color1: #FFADAD;
  --backup-color2: #FFD6A5;
  --backup-color3: #FDFFB6;
  --backup-color4: #CAFFBF;
  --backup-color5: #9BF6FF;
  --backup-color6: #FFC6FF;
  --white-color: #FFFFFC;
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.App > * {
  flex-grow: 1;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
